<a href="https://colab.research.google.com/github/bibekuchiha/Python-for-data-science--Introduction/blob/master/1_5_Standard_input_and_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Input and Output

# Python Output

We use the print() function to output data to the standard output device

In [1]:
print("Hello World")

Hello World

In [3]:
a = 10
print("The value of a is", a) #python 3
print "The value of a is " + str(a)

('The value of a is', 10)
The value of a is 10

# Output Formatting

In [4]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

The value of a is 10 and b is 20

In [0]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

The value of b is 20 and a is 10

In [0]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="satish", greeting="Good Morning"))

Hello satish, Good Morning

In [0]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',
                                                       other='Georg'))

The story of Bill, Manfred, and Georg

# Python Input

want to take the input from the user. In Python, we have the input() function to allow this.

In [8]:
num = input("Enter a number: ")
print(num)

Enter a number: 122
122